# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# Django Stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# MacOS
.DS_Store

# pycache
**/__pycache__/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# Pipenv
Pipfile.lock

# Pyre
.pyre/
